<section class="index-page">
  <main class="index-page--main">
    <h2 class="index-page--title">Datasets in {{publisher.title}}</h2>
    {{#each products as |product|}}
      <table class="dataset">
        <caption>
          <h3>Product {{product.id}}</h3>
          {{link-to 'Expand' 'products.show' product.id}}
        </caption>
        <thead>
          <tr>
          {{#each product.productDataSubset as |data|}}
            {{#each-in data as |key value|}}
              <th>{{key}}</th>
            {{/each-in}}
          {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each product.productDataSubset as |data|}}
          <tr>
            {{#each-in data as |key value|}}
              <td>{{value}}</td>
            {{/each-in}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
    {{outlet}}
  </main>
  <aside class="index-page--side">
    hello
  </aside>

</section>
