{{#if isIndexRoute}}
  <header class="header">
    <nav class="header header--nav">
      <li><a href="#" {{action 'toggleMenu'}}>&#9776;</a></li>
      <li><a href="#" {{action 'toggleMenu'}}>Home</a></li>
      <li {{action 'toggleMenu'}} >{{link-to 'Products' 'products'}}</li>
    </nav>
    <a><img src='assets/quandl-logo.svg'></a>
    <ul class="header header--nav">
      <li {{action 'toggleMenu'}} >{{link-to 'Docs' 'products'}}</li>
      <li {{action 'toggleMenu'}} >{{link-to 'Blogs' 'products'}}</li>
      <li {{action 'toggleMenu'}} >{{link-to 'Sign In' 'products'}}</li>
    </ul>
  </header>
{{else}}
  <header class="header">
    <ul class="header header--nav">
      <li>{{link-to 'Data Publisher' 'products'}}</li>
    </ul>
  </header>
{{/if}}

<div>
  {{outlet}}
</div>
